*{
    margin: 0;
    padding: 0%;
}
h2{
    background-color: brown;
    font-size: 90px;
    color: #fff;
}
div{
    padding-top: 80px;
}
table{
    width: 50%;
    border-style:double;
    border-width: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 30px;
    background-image:linear-gradient(rgba(25, 26, 44, 0.4),rgba(2, 4, 4, 0.4)),url("/pizza-1216737_1920-1024x562.png");
}
table:hover{
    border-color: rgb(121, 236, 39) rgb(18, 18, 230) rgb(232, 130, 232) rgb(11, 197, 244);
    border-style:groove;
    border-width: 15px;
}
td{
    padding: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}span{
    color: rgb(8, 7, 26);
    font-size: 38px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
    border-style: groove;
    border-radius: 30PX;
}
tr a:hover{
    border-color: red;
    color: red;
}
li{
    padding-top: 90px;
    float: left;
  
  }
  nav a{
    width: 100px;
    text-align: center;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    margin-left: 260px;
    font-size: 30px;
    width:150px;
    height: 30px;
    font-size: 34px;
    color: #fff;
    background-color: rgb(27, 209, 215);
    border-radius: 30px;
  }
  nav a:hover {
    border-style: groove;
    border-radius: 40px;
    font-weight: 500;
    color: rgb(227, 243, 7);
    font-size: 20px;
    box-shadow: 3px 4px rgb(240, 252, 11);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  